.terminal-line {
    background-color: #091540;
    padding: 5px;
    border-radius: 20px;
    padding-left: 10px;
}

.code-editor {
    color: white;
    background-color: #00000000 !important;
}

.code-container {
    background-color: #091540 !important;
    border-radius: 10px;
    padding-bottom: 10px;
}

code {
    background-color: white !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.code-result-text {
    color: white;
    padding-left: 10px;
}

.pxs-enum {
    background-color: rgb(204, 204, 91);
    padding: 10px;
    border-radius: 20px;
    width: 10px;
    height: 10px;
}

.pxs-self {
    background-color: rgb(90, 155, 119);
    padding: 10px;
    border-radius: 20px;
    width: 10px;
    height: 10px;
}

.pxs-excepts {
    background-color: rgb(216, 77, 21);
    padding: 10px;
    border-radius: 20px;
    width: 10px;
    height: 10px;
}

.pxs-property-get {
    background-color: rgb(122, 21, 216);
    padding: 10px;
    border-radius: 20px;
    width: 10px;
    height: 10px;
}

.pxs-property-set {
    background-color: rgba(180, 137, 219, 0.966);
    padding: 10px;
    border-radius: 20px;
    width: 10px;
    height: 10px;
}